/* Custom scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Selection colors */
/* ::selection {
  background: var(--bg-inverse);
  color: var(--text-inverse);
} */

::selection {
  background: transparent;
  color: var(--text-accent-alt);
}

[data-theme="dark"] ::selection {
  color: var(--text-accent);
}

input::selection,
textarea::selection {
  background: var(--bg-accent-solid-light);
  color: var(--text-inverse);
}

strong {
  background: linear-gradient(
    145deg,
    var(--color-neutral-500) 0%,
    var(--color-neutral-800) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: var(--font-weight-bold);
  -webkit-text-fill-color: transparent;
}

/* Hide reCAPTCHA badge by default - shown only when contact form is open */
.grecaptcha-badge {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.3s,
    opacity 0.3s;
}
