.breakPanel {
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  width: 35vw;
  height: 100vh;
}

.breakPanel::after {
  position: absolute;
  background: var(--bg-primary);
  content: "";
  pointer-events: none;
  inset: 0;
  opacity: 0.15;
}

.breakPanel img {
  filter: grayscale(0.5) contrast(1.1);
}

@media (max-width: 1024px), (max-height: 700px) {
  .breakPanel {
    display: none;
  }
}
