/* Dynamic Magazine Header */
.editorialHeader {
  display: grid;
  gap: var(--spacing-2xl);
  margin-bottom: var(--spacing-3xl);
  padding: var(--spacing-5xl) 0 var(--spacing-3xl);
  border-bottom: var(--border-default);
  position: relative;
  grid-template-columns: auto 4fr 1fr;
  grid-template-rows: 4fr 1fr;

  grid-template-areas: "side main sub";
}

.headerLeft {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  grid-area: side;
}

.issueNumber {
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--text-secondary);
  letter-spacing: 0.2em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.headerLine {
  margin: 2rem 0.5rem;
  width: 1px;
  height: 100%;
  background: var(--bg-secondary);
}

.date {
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-light);
  color: var(--text-secondary);
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.mainTitle {
  margin: 0;
  position: relative;
  font-family: var(--font-serif);
  font-size: clamp(3rem, 8vw, 8rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-dense);
  color: var(--text-primary);
  text-align: center;
  grid-area: main;
}

.titleLine {
  display: block;
  font-family: var(--font-serif);
  font-weight: var(--font-weight-black);
  transform-style: preserve-3d;
}

.underline {
  position: absolute;
  bottom: -0.1em;
  left: 0;
  height: 0.15em;
  background-color: currentColor;
  transform: skew(-15deg);
}

.subtitle {
  font-family: var(--font-sans);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-normal);
  color: var(--text-tertiary);
  text-align: right;
  grid-area: sub;
}

@media (max-width: 1200px) {
  .editorialHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-2xl);
    padding: var(--spacing-4xl) 0 var(--spacing-xl);
  }

  .headerLeft {
    align-items: start;
    flex-direction: row;
  }

  .headerLine {
    margin: var(--spacing-sm);
    width: 100%;
    height: 1px !important;
  }

  .issueNumber,
  .date {
    writing-mode: unset;
  }
}

@media (max-width: 768px) {
  .editorialHeader {
    padding: var(--spacing-3xl) 0 var(--spacing-xl);
  }
}

@media (max-width: 480px) {
  .editorialHeader {
    display: flex;
    gap: var(--spacing-lg);
    flex-direction: column;
    margin-bottom: var(--spacing-lg);
    padding: var(--spacing-2xl) 0 var(--spacing-lg);
  }

  .headerLeft {
    align-items: start;
    flex-direction: row;
  }

  .headerLine {
    margin: var(--spacing-sm);
    width: 100%;
    height: 1px !important;
  }

  .issueNumber,
  .date {
    font-size: var(--font-size-2xs);
    writing-mode: unset;
  }

  .mainTitle {
    font-size: var(--fluid-font-size-3xl);
  }
  .subtitle {
    font-size: var(--font-size-xs);
  }
}
